{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans mon blog!</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis hic nihil ab 
    itaque ipsa, ullam et? Facilis eos officia rem, laudantium aspernatur voluptatibus 
    voluptatem accusamus autem iste maxime voluptas nemo. Veritatis soluta nulla molestias
     necessitatibus tempora similique est repellendus architecto.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi cumque pariatur aliquam nemo molestias natus perferendis explicabo sequi a? 
    Architecto quas, dicta quod, suscipit impedit nulla delectus sunt voluptatum perferendis, 
    officiis aspernatur ipsum veritatis quibusdam possimus. Voluptate eligendi perspiciatis 
    consequatur, perferendis accusamus fugiat cupiditate quod, explicabo maxime aliquid
     suscipit sequi!</p>
{% endblock %}